In [1]:
%load_ext sql

In [4]:
%sql postgresql://postgres:1234@localhost:5432/INSTRUCTOR

In [11]:
%%sql
SELECT *
FROM information_schema.tables 
WHERE table_schema = 'public';

 * postgresql://postgres:***@localhost:5432/INSTRUCTOR
6 rows affected.

[('INSTRUCTOR', 'public', 'my_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('INSTRUCTOR', 'public', 'your_table', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('INSTRUCTOR', 'public', 'instructor', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('INSTRUCTOR', 'public', 'international_student_test_scores', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('INSTRUCTOR', 'public', 'test_score_distribution', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [14]:
%%sql
SELECT *
FROM information_schema.columns
WHERE table_schema = 'public' AND table_name = 'chicago_socioeconomic_data'

 * postgresql://postgres:***@localhost:5432/INSTRUCTOR
9 rows affected.

[('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'ca', 1, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'float8', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'community_area_name', 2, None, 'YES', 'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'text', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'percent_of_housing_crowded', 3, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'float8', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'percent_households_below_poverty', 4, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'float8', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'percent_aged_16_unemployed', 5, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'float8', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'percent_aged_25_without_high_school_diploma', 6, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'float8', None, None, None, None, '6', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'percent_aged_under_18_or_over_64', 7, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'float8', None, None, None, None, '7', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'per_capita_income_', 8, None, 'YES', 'bigint', None, None, 64, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'int8', None, None, None, None, '8', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('INSTRUCTOR', 'public', 'chicago_socioeconomic_data', 'hardship_index', 9, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'INSTRUCTOR', 'pg_catalog', 'float8', None, None, None, None, '9', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]